/.venv
z_archive_folder
/logs
/scripts/testNAVI-PR/__pycache__
/scripts/NaviDiscord/SettingsAPI_Disc.py
scripts/testNAVI-PR/NaviApiKeys.py
scripts/NaviDiscord/discordvc
scripts/NaviDiscord/__pycache__
scripts/NaviDiscord/recordVC
Navi-New/NaviApiKeys.py
*.mp4
